.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: rgb(64, 64, 92);
  font-family: Verdana, sans-serif;
}

.log-in, .sign-up {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 25px;
}

.log-in form, .sign-up form{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 50vw;
}

.home {
  color: white;
}

p {
  color: white;
}

.post-list, .user-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.post-item, .user-item {
  border: white solid 1px;
  border-radius: 15px;
  margin-top: 15px;
  width: 60%;
}

.user-name {
  background-color: rgba(64, 64, 92, 0);
  border: none;
  color: white;
}

.open-session {
  display: flex;
  justify-content: space-between;
}

.open-session__links {
  display: flex;
}

.close-session {
  display: flex;
  justify-content: flex-end;
}