.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: Verdana, sans-serif;
}

button {
  font-family: Verdana, sans-serif;
}

.log-in,
.sign-up,
.comment-edit, 
.post-edit {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 25px;
}

.log-in form, 
.sign-up form {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 50vw;
}

.home {
  color: white;
}

.post-list,
.user-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.post-item,
.user-item,
.comment-item {
  background-color: rgb(14, 14, 14);
  border: rgb(50, 50, 50) solid 1px;
  border-radius: 5px;
  margin-top: 15px;
  width: 35vw;
}

.post-item__username,
.comment-item__username {
  font-size: 0.6em;
  margin-bottom: 0;
}

.post-item__text,
.comment-item__text {
  align-content: flex-start;
  margin: 5px 0;
}

.post-item__text p,
.comment-item__text p {
  margin: 0;
}

.user-name {
  background-color: rgba(64, 64, 92, 0);
  border: none;
  color: white;
}

.open-session {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.open-session,
.close-session {
  background-color: rgb(14, 14, 14);
  border-bottom: rgb(50, 50, 50) solid 1px;
  height: 2.2em;
}

#log-out-container button {
  height: 100%;
}

.open-session button,
.close-session button,
button {
  background-color: rgb(14, 14, 14);
  color: white;
  border: none;
  transition-duration: 0.2s;
  font-size: 0.9em;
}

.open-session button:hover,
.close-session a button:hover,
button:hover,
.edit:hover {
  background-color: rgb(50, 50, 50);
}

.open-session__links {
  display: flex;
}

.close-session {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
}

.close-session button {
  height: 100%;
  margin-right: 10px;
}

.open-session__links button {
  margin-right: 10px;
}

.post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-page h2 {
  color: white;
}

.comment-input, .post-input {
  margin-top: 15px;
}

.comment-input form,
.post-input form,
.comment-edit form, 
.post-edit form{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

a {
  text-decoration: none;
}

p {
  word-break: break-all;
  text-align: left;
  color: white;
  padding: 0 15px;
}

.log-in h1,
.sign-up h1 {
  color: white;
}

.log-in form,
.sign-up form {
  color: white;
  background-color: rgb(14, 14, 14);
  border: rgb(50, 50, 50) solid 1px;
  width: 35vw;
  padding: 1em 0;
  border-radius: 25px;
  height: auto;
}

.log-in form input,
.sign-up form input {
  width: 80%;
  margin: 1em 0;
  height: 2em;
  color: white;
  background-color: rgb(14, 14, 14);
  border: rgb(50, 50, 50) solid 2px;
  padding-left: 10px;
}
::-ms-reveal {
  filter: invert(100%);
}

.log-in form button,
.sign-up form button {
  border: rgb(56, 49, 158) solid 2px;
  background-color: rgb(56, 49, 158);
  color: white;
  width: 80%;
  height: 2rem;
  margin: 1em 0;
}

.options {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  margin-bottom: 9.6px;
}
.options button {
  margin: 0 5px 3px 0;
  font-size: 12px;
}

.Liked {
  color: rgb(84, 77, 192);
}

.post-input form textarea,
.post-edit form textarea,
.comment-input form textarea,
.comment-edit form textarea {
  width: 35vw;
  height: 12vh;
  background-color: rgb(51, 51, 51);
  outline: none;
  color: white;
  font-size: 1.2em;
}

.post-input form button,
.post-edit form button,
.comment-input form button,
.comment-edit form button {
  width: 10vw;
  background-color: rgb(51, 51, 51);
  outline: none;
  color: white;
  font-size: 1.2em;
  margin-top: 10px;
  transition-duration: 0.2s;
}

.post-input form button:hover,
.post-edit form button:hover,
.comment-input form button:hover,
.comment-edit form button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.post-edit h1,
.comment-edit h1 {
  color: white;
}

.edit-form__buttons {
  margin: 0 5px;
}