.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: rgb(64, 64, 92);
}

.log-in {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 25px;
}

.log-in form{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 50vw;
}
